HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/environment/data/db_data/**
/environment/data/nacos_logs/**
/environment/data/portainer_data/**
/environment/data/prometheus_data/**
/environment/data/rocketmq/**
/environment/data/standalone-logs/**
