<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 开启驼峰映射 ，否则查询结果不能转成resultType-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>

    </typeAliases>
    <mappers>
        <mapper resource="mybatis/FlashItemMapper.xml"></mapper>
        <mapper resource="mybatis/FlashActivityMapper.xml"></mapper>
        <mapper resource="mybatis/FlashOrderMapper.xml"></mapper>
        <mapper resource="mybatis/FlashBucketMapper.xml"></mapper>
    </mappers>
</configuration>